Repository DIABOT-dev/git, changes with the labels that .github/labeler.yml gives for each.
All labels: water, meal, supabase, uiux

Updated .env.local
  .env
  .env.local
  .env.production
  DEPLOYMENT_VIETTEL_STORAGE.md
  INDEX_SCHEMA_DOCS.md
  QUICK_START_SCHEMA.md
  SCHEMA_STANDARDIZATION.md
  STANDARDIZATION_SUMMARY.md
Labels: none

Added QA_FREEZE_REPORT_2025_10_07.md
  QA_FREEZE_REPORT_2025_10_07.md
  QUICK_DEPLOYMENT_PLAN_OCM.md
  scripts/create-release-tag.sh
  scripts/verify-deployment.sh
Labels: none

Add files via upload
  PROMPT_GUIDE.md
  QA_SMOKE.md
  README_CLOUDOPS.md
  agents/diabot_ai.agent.json
  agents/diabot_ops.agent.json
  app.manifest.json
  archive/README.txt
  ops/backup_cron.sh
  ops/deploy_viettel.sh
  ops/healthcheck.sh
  ops/restore_from_backup.sh
  ops/rollback.sh
Labels: none

Updated package-lock.json
  DEBOLT_COMPLETION_REPORT.md
  DEBOLT_SCAN.txt
  package-lock.json
  package.json
  src/interfaces/ui/hooks/useAuth.ts
Labels: uiux

Updated package-lock.json
  package-lock.json
Labels: none

Updated package-lock.json
  package-lock.json
Labels: none

Updated package-lock.json
  .env.local.example
  .env.local.example.backup
  .env.production.new
  .env.viettel
  DEBOLT_PHASE1_DELIVERABLE.md
  docker-compose.production.yml
  middleware.ts
  package-lock.json
  package.json
  scripts/convert-repos-to-postgres.sh
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/signup/route.ts
  src/lib/auth/getUserId.ts
  src/lib/auth/local.ts
  src/lib/db/connection.ts
  src/lib/db/index.ts
  src/lib/repositories/UserRepository.ts
  src/modules/bg/infrastructure/adapters/BGRepo.supabase.ts
Labels: none

Create gpt-control.yml
  .github/workflows/gpt-control.yml
Labels: none

Update gpt-control.yml
  .github/workflows/gpt-control.yml
Labels: none

Add files via upload
  docs/docs/api/API_GATEWAY.md
  docs/docs/gpt/README_DEV_FLOW.md
  docs/docs/gpt/TRANSITION_COMPLETION_REPORT.md
  docs/docs/tech/CI_RULES.md
  docs/docs/tech/CODE_STRUCTURE.md
  docs/docs/tech/SECURITY_CHECKLIST.md
Labels: none

Add files via upload
  src/shared/styles/docs/UTILS_REFERENCE.md
Labels: none

Delete docs/bg directory
  docs/bg/contract.md
  docs/bg/db-mapping.md
  docs/bg/release-runbook.md
  docs/bg/reminder.md
  docs/bg/telemetry.md
  docs/bg/test-plan.md
  docs/bg/tokens-used.md
  docs/bg/ux-spec.md
Labels: none

chore(report): document GitHub publication status
  docs/EXECUTION_REPORT.md
Labels: none

chore(db): remove Supabase runtime, add native Postgres service + env example + migrations skeleton
  .env.example
  .env.local.example
  .gitignore
  README.md
  archive/bolt_legacy/2025-10-09/supabase/migrations/00_enums.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/01_functions.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/10_profiles.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/11_glucose_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/12_meal_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/13_water_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/14_insulin_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/15_weight_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/16_bp_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/20250910100316_azure_garden.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/20250910102415_crimson_haze.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/20250912044145_super_spire.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/20_metrics_day.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/21_metrics_week.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/30_rls_enable.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/31_policies_profiles.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/32_policies_logs.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/33_policies_metrics.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/40_feature_flags.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/41_relatives.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/42_nudge_events.sql
  archive/bolt_legacy/2025-10-09/supabase/migrations/99_seed_dev.sql
  docker-compose.yml
  migrations/000_init.sql
  migrations/010_rls.sql
  migrations/020_seed_minimal.sql
Labels: none

feat(db): init core schema + RLS + minimal seed (Viettel Postgres)
  docker-compose.yml
  migrations/000_init.sql
  migrations/010_rls.sql
Labels: none

Create DB_API_CONTRACT.md
  docs/DB_API_CONTRACT.md
Labels: none

Create qa_db.yml
  .github/workflows/qa_db.yml
Labels: none

Create qa_stack.sh
  scripts/qa_stack.sh
Labels: none

Add files via upload
  migrations/hahaha.txt
Labels: none

Create 100_indexes.sql
  migrations/100_indexes.sql
Labels: none

Create 101_views.sql
  migrations/101_views.sql
Labels: none

Create seed.sql
  scripts/seed.sql
Labels: none

Update qa_db.yml
  .github/workflows/qa_db.yml
Labels: none

Update qa_db.yml
  .github/workflows/qa_db.yml
Labels: none

Update qa_stack.sh
  scripts/qa_stack.sh
Labels: none

Update qa_stack.sh
  scripts/qa_stack.sh
Labels: none

Update seed.sql
  scripts/seed.sql
Labels: none

Update 100_indexes.sql
  migrations/100_indexes.sql
Labels: none

Update 101_views.sql
  migrations/101_views.sql
Labels: none

Update qa_db.yml
  .github/workflows/qa_db.yml
Labels: none

Update qa_db.yml
  .github/workflows/qa_db.yml
Labels: none

chore: pin node 20 and constrain audit scope
  .github/workflows/ci-diabot.yml
  .nvmrc
  .prettierignore
  QA_MVP.md
  RELEASE_NOTES.md
  REPORT_AUDIT.md
  audit_logs/api-ai.log
  audit_logs/eslint.log
  audit_logs/next-build.log
  audit_logs/npm-ci.log
  audit_logs/prettier.log
  audit_logs/smoke.log
  audit_logs/test.log
  audit_logs/todo.log
  audit_logs/tsc.log
  eslint.config.js
  package-lock.json
  package.json
  src/app/admin/db-inspect/route.ts
  src/app/api/chart/7d/route.ts
  src/app/api/log/bg/route.ts
  src/app/api/qa/selftest/route.ts
  src/interfaces/ui/components/Card.tsx
  src/interfaces/ui/components/atoms/Button.tsx
  src/interfaces/ui/components/atoms/Card.tsx
  src/interfaces/ui/screens/Settings.tsx
  src/lib/db_client.ts
  src/modules/meal/ui/components/MealCard.tsx
  tsconfig.json
  types/custom/index.d.ts
  types/custom/package.json
  types/node/index.d.ts
  types/node/package.json
Labels: meal, uiux

Create middleware.ts
  src/middleware.ts
Labels: none

Update route.ts
  src/app/api/log/bg/route.ts
Labels: none

Update route.ts
  src/app/api/log/bg/route.ts
Labels: none

Update db_client.ts
  src/lib/db_client.ts
Labels: none

Update middleware.ts
  src/middleware.ts
Labels: none

Update README.md
  README.md
Labels: none

Create autofix.yml
  .github/workflows/autofix.yml
Labels: none

Update autofix.yml
  .github/workflows/autofix.yml
Labels: none

.github/labeler.yml:

water:
  - "src/modules/water/**"
meal:
  - "src/modules/meal/**"
supabase:
  - "supabase/**"
uiux:
  - "src/interfaces/**"
